:root {
  --radius: 5px;
  --main-frame: 15px solid white;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./xmas-bg3.png');
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

img {
  height: 450px;
  display: block;
}

#window-container {
  transition: all 0.5s ease-in;
}

/* glow effect using box shadow */
.red-glow {
  box-shadow: -2px 0px 16px 10px rgba(221, 64, 64, 1);
  -webkit-box-shadow: -2px 0px 16px 10px rgba(221, 64, 64, 1);
  -moz-box-shadow: -2px 0px 16px 10px rgba(221, 64, 64, 1);
}

.red-glow-wide-left {
  box-shadow: -10px 0px 11px 11px rgba(221, 64, 64, 1);
  -webkit-box-shadow: -10px 0px 11px 11px rgba(221, 64, 64, 1);
  -moz-box-shadow: -10px 0px 11px 11px rgba(221, 64, 64, 1);
}

.red-glow-wide-right {
  box-shadow: 10px 0px 11px 11px rgba(221, 64, 64, 1);
  -webkit-box-shadow: 10px 0px 11px 11px rgba(221, 64, 64, 1);
  -moz-box-shadow: 10px 0px 11px 11px rgba(221, 64, 64, 1);
}

.left-door {
  border: var(--main-frame);
  border-right: 0;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  /* transition: all 2s ease-in-out; */
}

.left-door img {
  border-right: 0;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.right-door {
  border: var(--main-frame);
  border-left: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  /* transition: all 2s ease-in-out */
}

.right-door img {
  border-left: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.joke-display {
  position: absolute;
  background-color: white;
  opacity: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: var(--main-frame);
  height: 100%;
  padding: 1em;
  cursor: pointer;
}

[data-visible='false'] {
  opacity: 0;
}

[data-visible='true'] {
  background-color: red;
  color: white;
  opacity: 1;
  transition: all 0.5s ease-in;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 1rem;
}

/* animation */

@keyframes display-joke {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes left-open {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes right-open {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
